*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: auto;
    background-color: hsl(240, 66%, 66%);
    display: flex;
}

a {
    text-decoration: underline;
    color: hsl(0, 0%, 100%);
}

a:hover {
    text-decoration: none;
    transition-duration: 0.15s;
}

.center {
    margin: auto;
    flex-direction: row;

}

.server-logo {
    width: 128px;
    display: inline-block;
}

.server-name {
    color: #fff;
    font-size: 10rem;
}

.invite {
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    background-color: hsl(248, 53%, 38%);
    font-size: x-large;

}

.invite:hover {
    background-color: hsl(248, 53%, 58%); 
}

.link {
    font-size: large;
    margin: 0 10px;
}

.container {
    background-color: hsl(240, 54%, 36%);
    color: #fff;
    width: 50vw;
    padding: 20px 50px;
    margin: auto;
}

.description {
    color: #fff;
    font-style: italic;
    margin: 5px 0 10px 0;
    font-size: larger;
}

.container li {
    line-height: 25px;
    font-size: 20px;
}

.new-section {
    border: 2px solid hsl(241, 73%, 49%);
    margin: 20px;
    line-height: 50px;
    padding: 5px 20px;
}